.Alrt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 30%;

  transform: translate(-50%, 0);
}

.conform {
  width: 26%;
  background: #cdc1ff;
  border-radius: 10px;
  box-shadow: 5px 10px 0px -3px rgb(0 0 0 / 20%);
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  justify-content: center;
  font-size: large;
}
.heading_p {
  display: flex;
  justify-content: center;
  font-size: large;
  border-bottom: ridge;
}
.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn_1 {
  width: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: larger;
}

.btn_2 {
  width: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: larger;
  border-left: ridge;
}
